.App {
  align-self: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: calc(30px + 2vmin);
  padding: 0pt 10pt 0pt 10pt;
  color: white;
}

.App-body {
  display: flex;
  flex-direction: row;
  text-align: left;
}

.left-column {
  max-width: 300px;
  padding: 0pt 0pt 0pt 10pt;

}

.main-column {
  max-width: 500px;
  width: 100%;
}