.Modal-Box {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    backdrop-filter: blur(2px);
}

.Modal-Content {
    width: 60vh;
    min-width: 300px;
    margin: 5vh auto;
    display: flex;
}

h3{
    margin: 10pt 0pt 0pt 0pt;
    
}

p{
    margin: 0pt;
    display:inline;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
ul {
    margin: 0pt;
    padding: 0pt 0pt 0pt 10pt;
}

li{
    display: inline;
}

li:before {
    content: '\ffed';
    margin-right: 0.5em;
  }