.itemsGroup {
    align-content: left;
    padding: 0pt 0pt 0pt 5pt;
}
.itemsList {
    padding: 10pt;
    width: 600pt;
}

.itemBlock {
    display: flex;
    flex-direction: row;
    background-color: #F6F4F3;
    border: 2px solid #4b4b4b;
    border-radius: 8px;
    margin-bottom: 4pt;
}

.selectedAmount {
    text-align: center;
    font-weight: bolder;
    padding: 10pt;
    max-width: 200pt;
    display: flex;
    flex-direction: row;
    margin: auto auto auto 0;
}

.productName {
    text-align: left;
    padding: 10pt;
    margin: auto auto auto 0;
    width: 100%;
}

.productUnitPrice {
    text-align: center;
    padding: 10pt;
    /* max-width: 100pt; */
    font-weight: bolder;
    margin: auto 0 auto auto;
}

.productTotal {
    text-align: center;
    padding: 10pt;
    /* max-width: 100pt; */
    font-weight: bolder;
    margin: auto 0 auto 0;
}

.circleBtn {
    width: 20pt;
    height: 20pt;
    color: white;
    font-weight: bolder;
    background-color: #245595;
    border-radius: 50px;
}

.BtnLeft {
    margin-right: 2pt;
}

.BtnRight {
    margin-left: 2pt;
}