.itemsGroup {
    align-content: left;
    padding: 0pt 0pt 0pt 5pt;
}
.itemsList {
    padding: 5pt;
    width: 600pt;
}

.itemBlock{
    display: flex;
    max-width: 430px;
}

.itemDetails {
    display: flex;
    flex-direction: row;
    min-width: 430px;
    background-color: #F6F4F3;
    border: 2px solid #4b4b4b;
    border-radius: 8px;
    margin-bottom: 4pt;
    margin: 0pt;
}

.selectedAmount {
    text-align: center;
    font-weight: bolder;
    padding: 5pt;
    max-width: 200pt;
    display: flex;
    flex-direction: row;
    margin: auto auto auto 0;
}

.productName {
    text-align: left;
    width: 290px;
    padding: 5pt;
    margin: auto auto auto 0;
}

.productUnitPrice {
    text-align: center;
    padding: 5pt;
    font-weight: bolder;
    margin: auto 0 auto auto;
}

.productTotal {
    text-align: center;
    padding: 5pt;
    font-weight: bolder;
    margin: auto 0pt auto 0pt;
}

.circleBtn {
    width: 20pt;
    height: 20pt;
    color: white;
    font-weight: bolder;
    background-color: #245595;
    border-radius: 50px;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}

.BtnLeft {
    margin-right: 2pt;
}

.BtnRight {
    margin-left: 2pt;
}